body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
}

.input-container,
.result-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 20px);
    display: grid;
}

.input-container h1,
.result-container h1 {
    margin-bottom: 20px;
}

.input-container label,
.input-container input,
.input-container button {
    display: block;
    margin-bottom: 10px;
}

.square {
    height: 60px;
    background-color: #007bff;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.square p {
    color: #fff;
    font-size: 16px;
}
